@media screen and(max-width:767px) {
    .header {
        width: 300px;
    }
    .left {
        width:100px;
    }
    .top-left {
        width: 125px;
    }
    .top-right{
        width:75px;
    }
    .cb {
        width:200px;
    }
    .footer {
        width:300px;
    }
}

@media screen and(max-width:479px){
    .header {
        width: 150px;
    }
    .left {
        width:150px;
        float: none;
    }
    .top-left {
        width: 150px;
        float: none;
    }

    .tlt {
        width:150px;
    }

    .tlb {
        width:150px;
    }
    .top-right{
        width:150px;
        float: none;
    }
    .cb {
        width:150px;
    }
    .footer {
        width:150px;
    }
}