body {
    height: 100%;
    width:100%;
}

.header {
    background-color: #141f40;
    height:100px;
    width: 400px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    }

.wrapper {
    width:400px;
    margin:0 auto;
}

.left {
    float: left;
    background-color: #80bfa8;
    height: 250px;
    width: 150px;
}

.content {
    float:right;
    height: 250px;
    width: 250px;
}

.top-right {
    float:right;
    background-color: #ff9e6b;
    height:150px;
    width:100px;
}

.top-left {
    float: left;
    width: 150px;
}

.tlt {
    height: 50px;
    background-color: #dbd400;
}

.tlb {
    background-color: #0093b7;
    height:100px;
    width:150px;
}

.cb {
    background-color: #8c2727;
    height:100px;
}

.footer {
    background-color: #d98d30;
    height: 100px;
    width: 400px;
}



* {
    margin:0;
    padding:0;
}